body {
  font-family: Helvetica;
}

/* Navbar settings */
nav {
  position: fixed;
  margin-bottom: 20px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: right;
  color: white;
  background-color: black;
  border-bottom: 1px solid gray;
  z-index: 1;
}
nav h1 {
  margin: 0;
  float: left;
  padding-left: 20px;
}
nav .menu {
  margin: 0 20px 0 0;
}
nav .menu a {
  margin: 0 10px;
  clear: right;
  /* color: white; */
  /* text-decoration: none; */
}
nav label {
  display: none;
  margin: 0 20px 0 0;
  float: right;
  width: 25px;
  font-size: 26px;
}
nav #toggle {
  display: none;
}
@media only screen and (max-width: 639px) {
  nav label {
    display: block;
    cursor: pointer;
  }
  nav .menu {
    display: none;
    width: 100%;
    text-align: center;
    background-color: black;
  }
  nav .menu a {
    display: block;
    margin: 0;
    line-height: 50px;
    border-bottom: 1px solid gray;
  }
  nav #toggle:checked + .menu {
    display: block;
    position: absolute;
    margin-top: 70px;
  }
  @media only screen and (max-width: 259px) {
    nav h1 {
      display: none;
    }
  }
}

/* Header settings */
header {
  padding-top: 100px;
  padding-bottom: 20px;
}

/* Footer settings */
footer {
  padding-top: 40px;
  padding-bottom: 50px;
  color: white;
  background-color: black;
  border-top: 1px solid gray;
}
footer p {
  font-size: 12px;
}

/* All other contents settings */
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.box {
  margin-top: 20px;
}
.content-pic {
  width: 100%;
  height: 100%;
}
/* .box h2 {
  margin: 0;
  padding: 10px;
} */
/* .box p {
  margin: 0;
  padding: 10px;
} */
#center-text {
  text-align: center;
}

/* Overlay settings */
.container {
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.container:hover .overlay {
  opacity: 0.85;
}
.overlay-text {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  text-align: center;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Part Settings */
.part-1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.part-1 p {
  line-height: 30px;
  font-size: 20px;
}

.part-2 {
  padding-top: 60px;
  padding-bottom: 100px;
  font-family: monospace;
  line-height: 30px;
  color: white;
  background-color: darkblue;
}
.part-2 h1 {
  font-size: 25px;
}
.part-2 h2 {
  font-size: 20px;
}
.part-2 p {
  font-size: 15px;
}

.part-3 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.part-3 h1 {
  font-size: 25px;
}
.part-3 h2 {
  margin: 5px 0 5px 0;
  font-size: 20px;
}
.part-3 p {
  margin: 0 0 10px 0;
  font-size: 15px;
}
